@model IImportsA.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor_20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor_20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Cor_20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade_Cor_20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho_10)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
